USE [master]
GO
/****** Object:  Database [QLTotNghiep]  ******/
CREATE DATABASE [QLTotNghiep]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTotNghiep].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTotNghiep]

GO
/****** Object:  Table [dbo].[SVCQ]    Script Date: 19/05/2021 9:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVCQ](
	[MSSV] [varchar](10) NOT NULL,
	[TenSV] [varchar](35) NOT NULL,
	[NienKhoa] [int] NOT NULL,
	[SDT] [varchar](12) NULL,
	[VatLi] [float] NULL,
	[GiaiTich] [float] NULL,
	[DaiSo] [float] NULL,
	[CSDL] [float] NULL,
	[OOP] [float] NULL,
	[HDH] [float] NULL,
	[Project1] [float] NULL,
	[Project2] [float] NULL,
	[Project3] [float] NULL,
	[DoAn] [float] NULL,
 CONSTRAINT [PK_SVCQ] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SVTC]    Script Date: 19/05/2021 9:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SVTC](
	[MSSV] [varchar](10) NOT NULL,
	[TENSV] [varchar](35) NOT NULL,
	[NienKhoa] [int] NOT NULL,
	[SDT] [char](15) NULL,
	[TCHT] [int] NOT NULL,
	[DiemTB] [float] NOT NULL,
 CONSTRAINT [PK__SVTC__6CB3B7F9D1DCC1F8] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 19/05/2021 9:48:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TenTaiKhoan] [varchar](25) NOT NULL,
	[MatKhau] [varchar](16) NULL,
	[VaiTro] [int] NULL,
 CONSTRAINT [PK__TAIKHOAN__B106EAF96DFB30CF] PRIMARY KEY CLUSTERED 
(
	[TenTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SVCQ] ([MSSV], [TenSV], [NienKhoa], [SDT], [VatLi], [GiaiTich], [DaiSo], [CSDL], [OOP], [HDH], [Project1], [Project2], [Project3], [DoAn]) VALUES (N'20177200', N'Nguyen Van Tam', 62, N'0886544578', 7.1999998092651367, 8, 6.8000001907348633, 2, 8.6999998092651367, 7.5999999046325684, 8.8000001907348633, 9.1999998092651367, 4.1999998092651367, 3.9000000953674316)
INSERT [dbo].[SVCQ] ([MSSV], [TenSV], [NienKhoa], [SDT], [VatLi], [GiaiTich], [DaiSo], [CSDL], [OOP], [HDH], [Project1], [Project2], [Project3], [DoAn]) VALUES (N'20177203', N'Nguyen Dinh Duc', 62, N'0886544578', 7.1999998092651367, 8, 6.8000001907348633, 2, 4.1999998092651367, 7.5999999046325684, 8.8000001907348633, 9.1999998092651367, 4.1999998092651367, 3.9000000953674316)
INSERT [dbo].[SVCQ] ([MSSV], [TenSV], [NienKhoa], [SDT], [VatLi], [GiaiTich], [DaiSo], [CSDL], [OOP], [HDH], [Project1], [Project2], [Project3], [DoAn]) VALUES (N'20187200', N'Tran Duc Bo', 63, N'0908987867', 7.1999998092651367, 3.5999999046325684, 8, 9, 8.6999998092651367, 7.5999999046325684, 8.8000001907348633, 9.1999998092651367, 4.1999998092651367, 3.9000000953674316)
GO
INSERT [dbo].[SVTC] ([MSSV], [TENSV], [NienKhoa], [SDT], [TCHT], [DiemTB]) VALUES (N'20177200', N'Le Hoang Dung', 62, N'0989355678     ', 62, 9)
INSERT [dbo].[SVTC] ([MSSV], [TENSV], [NienKhoa], [SDT], [TCHT], [DiemTB]) VALUES (N'20177201', N'Dinh Thi Hoa', 62, N'0912514321     ', 64, 5)
INSERT [dbo].[SVTC] ([MSSV], [TENSV], [NienKhoa], [SDT], [TCHT], [DiemTB]) VALUES (N'20177203', N'Nguyen Anh Dung', 62, N'0912514321     ', 75, 5.9000000953674316)
GO
INSERT [dbo].[TAIKHOAN] ([TenTaiKhoan], [MatKhau], [VaiTro]) VALUES (N'DoThiNgocDiep', N'123456', 0)
INSERT [dbo].[TAIKHOAN] ([TenTaiKhoan], [MatKhau], [VaiTro]) VALUES (N'NguyenBaTung', N'abc123', 2)
INSERT [dbo].[TAIKHOAN] ([TenTaiKhoan], [MatKhau], [VaiTro]) VALUES (N'NguyenVietAnh', N'abc123', 1)
GO
USE [master]
GO
